- content_for :title do
  = "About" 


%h2 About Page

.row-fluid
  .span12.text-center 
    .row-fluid
      .span6.offset3.text-left
        %p StayTraders is an accommodation for skills exchange that allows guests to teach or work for their hosts for a free place to stay. 
        %p StayTraders can contact hosts listed on the site. If a host has accommodation available, they can then offer it to that person for a maximum of 20 hours of work a week. 


