- content_for :title do
  = "About" 


%h2 About Page

.row-fluid
  .span12.text-center
    %h3 Teach or Volunteer your skills. In Return a free place to stay. 
 
    .row-fluid
      .span6.offset3.text-left
        %p StayTraders is an accommodation exchange that allows guests to teach or work for their hosts in return for a free place to stay. 
        %p StayTraders is a bit like a cashless Airbnb or Woofing for modern mom and pop shops and small businesses. 
      