- content_for :title do
  = "About" 


%h1 About Page


.row-fluid
  .span12
    %p this is the Fluid 12 level iving through theft, fear and threat. Some fairy tales of medieval Europe have beggars cast curses on anyone who was insulting or stingy towards them. In Tudor England, some of those who begged door-to-door for "milk, yeast, drink, pottage" were thought to be witches.[3] In some East Asian and South Asian countries, the condition of vagrancy has long been historically associated with the religious life, as described in the religious literature of Hindu, Buddhist, Jain and Muslim Sufi traditio
    .row-fluid
      .span6
        %p iving through theft, fear and threat. Some fairy tales of medieval Europe have beggars cast curses on anyone who was insulting or stingy towards them. In Tudor England, some of those who begged door-to-door for "milk, yeast, drink, pottage" were thought to be witches.[3] In some East Asian and South Asian countries, the condition of vagrancy has long been historically associated with the religious life, as described in the religious literature of Hindu, Buddhist, Ja
      .span6
        %p iving through theft, fear and threat. Some fairy tales of medieval Europe have beggars cast curses on anyone who was insulting or stingy towards them. In Tudor England, some of those who begged door-to-door for "milk, yeast, drink, pottage" were thought to be witches.[3] In some East Asian and South Asian countries, the condition of vagrancy has long been historically associated with the religious life, as described in the religious literature of Hindu, Buddhist, Jain and Muslim Sufi traditioin and Muslim Sufi traditio  rafds ther than punishing loitering or absence of livelihood. Foreigners who had been twice expatriated with prohibition of return to the Russian Empire and were arrested in Russia again were also recognized as vagrants. Punishments were harsh: According to Ulozhenie,[6] a vagrant who could not elaborate on his kinship, standing, or permanent residence, or gave false evidence, was sentenced to 4-year imprisonment and subsequent exile to Siberia or another far-off province.
        