- content_for :title do
  = "About" 

.row-fluid
  .span12.text-center 
    .row-fluid
      .span7.offset2.text-left
        %h2 About StayTraders
        %br
        %p StayTraders is an accommodation for skills exchange that allows guests to teach or work for their hosts. In return, guests (or StayTraders we like to call them) get a complimentary place to stay.
        %p StayTraders can contact hosts listed on the site. If a host has accommodation available, they can then offer it to that person for 15 to 20 hours of work a week. Feel free to visit the faq page if you have any other questions. You can also get in touch with us at staytraders@gmail.com.

        %br

        %p StayTraders was built in two weeks by <a href="http://drewsing.com/">Drew Sing</a> and <a href="http://www.linkedin.com/pub/eric-szeto/77/76a/643">Eric Szeto</a>. We attended <a href="http://bitmakerlabs.com">Bitmaker Labs</a>, a intensive 9 week software engineering course in Toronto, Canada. The site was put up August 2013.






