- content_for :title do
  = "Contact" 


.row-fluid
  .span12.text-center 
    .row-fluid
      .span7.offset2.text-left
        %h2 Contact Us!
        %p You can contact us at staytraders@gmail.com

  
