- content_for :title do
  = "faq" 


%h1 Header 1. For Page Titles

%h2 Header 2. For Page Titles that are slightly smaller. 

%h3 Header 3. Title of Hostings Index possibly

%h4 Header 4. City of Hostings Index possibly

%h5 Header 5. On the seat I sat. 

%h6 Header 6. Tomato went splat.
