- content_for :title do
  = "faq" 


%h3 What is StayTraders?

%p StayTraders is an accommodation for skills exchange that allows guests to teach or work for their hosts in return for a free place to stay. 