- content_for :title do
  = "faq" 


.row-fluid
  .span12.text-center 
    .row-fluid
      .span7.offset2.text-left

        %h3 What is StayTraders?

        %p StayTraders is an accommodation for skills exchange that allows guests to teach or work for their hosts in return for a free place to stay. We call guests StayTraders and Hosts...well..Hosts!

        %br
        %h3 How does it work?

        %p Simply sign up and you can post your home or space. You can request the types of skills, experiences, or people you'd like to potentially stay in return for their help. 

        %p Approximately 15 hours of work a week should be requested in return for your StayTrader's help. 20 hours is reasonable if you'd like to provide meals as well! These are again guidelines, and should be arranged between the Host and StayTrader.

        %br
        %h3 How do I contact someone?

        %p Members can contact one another via the contact button on the Hostings profile page or the Person's profile page, which will send the recipient an email. 

        %p If you have any questions, please don't hesitate to email staytraders@gmail.com. Have a great day!

