- content_for :title do
  = "Live for Free: StayTraders" 

#container
  #hero
    =image_tag("staytraders-970-509.jpg")
  #content
    .taglines
      .span3
        %h3 teach a skill
        %p We all have something to teach. Whether it's your native tongue or your graphic design skills, there's a host out there excited to learn from you. 
      .span3
        %h3 help out
        %p From graphic design to making beds to getting a mom and pop's social media going, using your skill to help someone out feels good. 
      .span3
        %h3 free room and board
        %p In return for your help, your host will provide a place to stay. For a maximum of 4 hours of work a day (20 hours a week), you can cover rent and have an experience to tell. 