- content_for :title do
  = "Live for Free: StayTraders" 

#container
  #hero
    / %h1#tagline Volunteer. <br><br> And in return, complimentary food <br>and lodging from your host.
    =image_tag("staytraders-970-509.jpg")
  #content
    .taglines.row
      .span3 
        %h3 teach a skill
        %p We all have something to teach, whether we know it or not. Whether it's your native tongue or your graphic design skills, there's a host out there excited to learn from you. And in return, you'll be rewarded with a cozy place to stay. 
      .span3
        %h3 help out
        %p Helping a host out bfdks fsd jfka fjkksd jfk ajfk adkjfsjkfjksdfjkds afjksafjkdsfjkdsfjkdfj jkds fjkd fjk fjksd fjkds jfkds fjkds jk
      .span3
        %h3 free accommodation to live
        %p In return for your help, your host will provide a place to stay. For a maximum of 4 hours of work a day (20 hours a week), you can cover rent and have an experience to tell. The 9 to 5 is pittering and a stay at Holiday Inn just isn't a great story to tell. 