- content_for :title do
  = "Live for Free: StayTraders" 

#container
  #hero-unit  
    %h1 Teach or Volunteer your skills <br>In return, a free place to stay
    #signup= link_to "Sign Up", signup_path, :class => "btn btn-large btn-info"
  #content
    .taglines
      .row-fluid
        .span4
          %h3 teach a skill
          %p We all have something to teach. Whether it's your native language or your graphic design skills, there's a host out there excited to learn from you. 
        .span4
          %h3 help out
          %p From accounting to making beds to helping a mom and pop's social media go viral, applying your skill to help someone out feels good. 
        .span4
          %h3 free accommodation
          %p In return, your host will provide a place to stay (and often food too!). For 4 hours of work a day, you can live for free and have an experience to tell. 