

%h3 #{@user.first_name} #{@user.last_name}

%h3 A picture

%h4 Current Location
%p Toronto, Canada

%h4 Skills and Experience
%p I am good at mowing the fucking lawn. 

%h4 Hostings I'm Interested In
%p Couchsurfing was founded in 2004 and sold to the private for-profit corporation Better World Through Travel in 2011. The website provides a platform for members to "surf" on couches by staying as a guest at a host's home, host travelers, or join an event.

%p As of January 2012, the website had 3.6 million members.[3] In March 2013, the website had 6 million members in 100,000 cities worldwide.[4]