%h1 Crop Image

= image_tag @asset.file_url, id: "cropbox"

= form_for [ @assetable, @asset] do |f| 
  .actions
  %br
    = f.submit "Crop", :class => "btn btn-info"
  %h4 Preview
  %div{:style=>"width: 100px; height: 100px; overflow:hidden"}
    = image_tag @asset.file_url, :id => "preview"