/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *  font-size: 38.5px;
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-responsive";


$default_text: #333333;
$gray_text: gray;
$site_width: 940px;


@import "contents.css.scss";
@import "landing.css.scss";
@import "listings.css.scss";
@import "profiles.css.scss";



//fonts

.graytext {
  color: $gray_text;
}

h1, h2, h3, h4 {
  color: $default_text;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
  color: gray;
  font-weight: normal;
}

h5 {
  font-size: 16px;
  font-weight: normal;
}

p {
  font-size: 16px;
}

//forms

.normal-input {
  width: 400px;
}

.wider-input {
  width: 500px;
}

.taller-input {
  height: 200px;
}

.number-input {
  width: 50px;
}

//layout dimensions

.container {
	max-width: $site_width;
	margin: 0px auto;	
}

#container {
	max-width: $site_width;
	margin: 0px auto;	
}

.navbar-inner {
  -webkit-box-shadow: none;
  background-image: none;
  background-color: white;
  background-repeat:none;
  border-radius: none;
  border-top-color: white;
  border-left-color: white;
  border-right-color: white;
  border-bottom-color: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-left-color: none;
  border-right-color: none;
}

.nav-collapse {
  float: right
}

//Listing and Profile Index Pages

.listings h4 {
  padding: none;
  margin-top:  0px;
}

.listings h3 {
  margin-bottom: 0px;
}

.individual-listing {
  padding-bottom: 50px;
}

.navbar .brand {
  padding-bottom: 7px;
}

.navbar .nav > li > a {
  padding: 25px 10px 23px 15px;
  font-size: 16px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  margin-bottom: 45px;
  border-top: 1px solid #eaeaea;
  #inner-footer {
    width: $site_width;
    margin: 0px auto;
  }
  color: #999;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
