// Place all the styles related to the Landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//@mixin test() {
//	color: blue;
//}




#hero {
	position: relative;
}

#hero-box {
	position: absolute;
	text-align: center;
	top: 280px;
	line-height: 110%;
	width: 100%;
	h2 {
		color: purple;
	}
//	background-color: gray;
}

.taglines {
	margin-top:15px;
	text-align: left;
//	@include test;
}



#images {

	li {
		display: inline-block;
  	margin: 10px;
	}
  li img {
	  -webkit-transition: 1s all ease-in-out;
  	opacity: 0;
  	height: 80px;
	}
	li img:hover {
  	-webkit-transform: scale(1.5) rotate(10deg);
	}
		li.show img {
  	opacity: 1;
	}
}