// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.center {
  margin: 0 auto;
}

.bob {
	height: 250px;
}

#listing_title{
	width: 400px;
}

#listing_city{
	width: 400px;
}

#listing_description{
	width: 400px;
	height: 200px;
}

#listing_guests{
	width: 40px;
}

#listing_stay_length{
	width: 400px;
}

#review_description{
	width: 450px;
	height: 100px;
}

#review_rating{
	width:100px;
}

