%footer
  .container.container-fluid
    .row-fluid
      .span4
        %small
          StayTraders by 
          %a{:href => "http://www.drewsing.com" } Drew Sing
          and 
          %a{ :href => "http://www.linkedin.com/pub/eric-szeto/77/76a/643" } Eric Szeto 
    
        
      .span4.pull-right
        %nav
          %ul
            %li= link_to "faq", "/faq"
            %li= link_to "About", "/about"
            %li= link_to "Contact", '/contact'
          